[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {ucp_server, [
  		 	{port, 40006},
 		 		{variables, [{login_response, ack},
   							 {receive_mt_response, ack},
					  		 {auto_drs, true},
					  		 {auto_dr_delay, 0},
					  		 {auto_dr_delivery_status, 0},
					  		 {auto_dr_error_code, 0}]}]}
].

