*.beam
*.app
*.log*
*.dump
*.pipe*
*.o
*.so
*.bin
*#
*~
.#*
*#
*.swp
apps/*/doc/*
.eunit
ucp_example/rel/*/*
!ucp_example/rel/*/files
!ucp_example/rel/*/reltool.config
.DS_Store
tags
*.html
.*
!.gitignore
ucp_example/deps/