[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {ucp_client, [
               {connections, [
                              {"CONN1", [
                                          {operator ,default_operator},
                                          {host ,"127.0.0.1"},
                                          {port ,40006},
                                          {adc ,"01234"},
                                          {password ,"pwd1"},
                                          {window_size ,100},
                                          {wait_for_login_timeout ,3}
                                          ]
                              }]}]}
].