{sub_dirs, [ 
             "../ucperl",
             "apps/util",
             "apps/ucp_client",
             "apps/ucp_server",
             "apps/simple_logger"
            ]
}.

{lib_dirs, ["apps", "deps", "../ucperl"]}.

{erl_opts, [warn_missing_spec,
            %%return_warnings,
            debug_info,
            {i, "src"}
           ]}.

{deps, [
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", "master"}}
]}.